* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #21243D;
  line-height: 1.4;
  font-style: normal;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 148px;
  max-width: 1152px;
}

@media (max-width: 400px) {
  body, html {
    max-width: 400px;
    margin: 0 auto;
  }
}
// ----------------HEADER----------------

.header {
  display: flex;
  align-self: stretch;
  justify-content: flex-end;
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  column-gap: 33px;
  align-items:flex-end;
}

@media (ax-width: 400px) {
  .header__nav {
    display: none; /* Hide the navigation links */
  }
}

.nav__text {
  text-align: right;
  font-size: 20px;
  font-weight: 500;
}

.header__hamburger {
  display: none; 
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 18px; 
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .header__hamburger {
    display: block; 
  }
}

.header__hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333; 
}

// ----------------HERO----------------

.hero {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.hero__content-box {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 70px;
}

@media (max-width: 400px) {
  .hero__content-box {
    flex-direction: column-reverse;
  }
}

.hero__text-box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}

.hero__title-box {
  display: flex;
}

.hero__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
  // flex-wrap: wrap;
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  width: 497px;
}

@media (max-width: 400px) {
  .hero__picture, .hero__text-box {
    width: 100%; 
  }
}

.button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background: var(--Primary, #FF6464);
  border: none;
}

.button__text-box {
  display: flex;
  // align-items: center;
  justify-content: center;
  // width: 100%;
}

.button__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  align-self: center;
  justify-content: center;
}

// ----------------MAIN----------------

.main {
  display: flex;
  max-width: 1152px;
  margin: auto;
  align-self: stretch;
  // align-self: stretch;
  justify-content:center;
  // align-content: center;
  flex-direction: row;
  column-gap: 20px;
  background-image: url(assets/images/Rectangle_23.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // margin-bottom: 15px;
  width: 100%;
}

.recent-posts {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.recent-posts__navigation-box {
  display: flex;
}

.recent-posts_name {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}

.recent-posts_name2 {
  justify-self: flex-start;
  color: var(--Secondry, #00A8CC);
}

.recent-posts__box {
  max-width: 418px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 22px 22px 7px 22px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  margin-bottom: 32px;
}

@media (max-width: 400px) {
  .recent-posts__box {
    width: 100%;
    margin: 0 auto;
  }
}

.recent-posts__title {
  font-size: 26px;
  font-weight: 700;
  width: 100%;
}

.recent-posts__info {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.recent-posts__info_text {
  font-size: 18px;
  font-weight: 400;
}

.vertical-line {
  border-left: thin solid #21243D;
}

.recent-posts_text {
  font-size: 16px;
  font-weight: 400;
}

// ----------------FEATUREDWORKS----------------

.featured-works {
  max-width: 1152px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}

.featured-works__name-box {
  display: flex;
  justify-self: flex-start;
  margin-bottom: 20px;
}

.featured-works__name {
  font-size: 22px;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}

.featured-works__big-box {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  row-gap: 30px;
}

@media (max-width: 400px) {
  .featured-works__big-box {
    flex-direction: column;
  }
}

.featured-works__small-box {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

@media (max-width: 400px) {
  .featured-works__small-box, hr {
    display: none;
  }
}

.small-box__text-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.small-box__title {
  font-weight: 700;
  font-size: 30px;
}

.small-box__year {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items:center ;
}

.small-box__year__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background-color: #142850;
  position:relative;
  z-index: 0;
}

.year__box__year {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  line-height: 60px; /* 333.333% */
  position:absolute;
  z-index: 1;
}

.small-box__small-name {
  color: var(--Light, #8695A4);
  font-size: 20px;
  font-weight: 400;
}

.small-box__small-text {
  font-size: 16px;
  font-weight: 400;
}

// ----------------FOOTER----------------

.footer {
  max-width: 1152px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 130px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer-box__icons {
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}